MASTER_WALLET_PK=0x...
MAIN_TOKEN=0x...
L2_MAIN_TOKEN=0x...
SKIP_L1_OPERATIONS=true/false
L1_RPC_ADDRESS="https://rpc.com"
L1_WS_RPC_ADDRESS="wss://rpc.com"
L2_CHAIN_ID=1234
L2_MAIN_TOKEN=0x...
L2_RPC_ADDRESS="https://rpc.com"
L2_WS_RPC_ADDRESS="wss://rpc.com""
MAIN_TOKEN=0x...
PAYMASTER_ADDRESS=0x...
LOADNEXT_CONTRACT=0x...